{% extends 'main/forms_layout.html' %}
{% block content %}

<div class="col-md-3 offset-4 sign-margin">
    <form action="{% url 'reset_new_password' %}" method="POST">
        {% csrf_token %}
        <p style="text-align: center;"><a href="{% url 'home' %}" title="Go back to home page"><i class="fas fa-laptop-code fa-5x"></i></a></p>
        <br>
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'password' %}
                    <span class="text-danger">{{ message }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
        <input type="password" class="form-control" name="password" placeholder="New Password">

        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'confirm_password' %}
                    <span class="text-danger">{{ message }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm New Password">

        <div class="text-right">
            <button class="btn btn-secondary" type="submit">Reset Password</button>
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.extra_tags == 'reset' %}
                <div class="box"><p class="text-success">{{ message }} <a href="{% url 'signin' %}">Log in</a></p></div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}